@import "../../assets/styles/variables.scss";

.infoAboutMeForm_wrapper {
  background-color: #ffffff;
  border-radius: 24px;
  max-width: 900px;
  width: 100%;
  min-height: 400px;
  margin: 24px auto 0;
  padding: 66px 110px;
  @media (max-width: $breakpoint_lg) {
    max-width: 90%;
  }
  @media (max-width: $breakpoint_md) {
    padding: 50px 30px 30px;
  }
  @media (max-width: $breakpoint_sm) {
    padding: 35px 25px 25px;
    margin: 24px auto 24px;
  }
  .title__advantages {
    margin-top: 24px;
  }

  .wrapper_advantages {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    .advatages__btn_delete {
      margin-left: 16px;
      margin-top: 12px;
    }
  }
  .button__add_advantages {
    margin-top: 8px;
    &:hover {
      background-color: #fff;
    }
  }

  .checkbox_group {
    margin-top: 24px;
    .wrapper_checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin-left: 8px;
      }
    }
  }

  .wrapper_about {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .textarea {
      margin-top: 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      min-height: 84px;
      width: 100%;
      padding: 12px;
      position: relative;
    }

    .textarea_other {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media (max-width: $breakpoint_sm) {
        flex-direction: column;
      }
      .counter_textarea {
        margin-left: auto;
      }
      .textarea__error {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #eb1717;
        margin-top: 5px;
        @media (max-width: $breakpoint_sm) {
          margin-right: auto;
        }
      }
    }
  }

  .signInForm__input {
    padding: 12px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    &:focus {
      box-shadow: 0px 0px 4px 0px #5558fa;
    }
  }

  .signInForm__input_advantages {
    padding: 12px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    width: 300px;
    @media (max-width: $breakpoint_sm) {
      flex-direction: column;
      width: 250px;
    }

    @media (max-width: 375px) {
      flex-direction: column;
      width: 200px;
    }
    &:focus {
      box-shadow: 0px 0px 4px 0px #5558fa;
    }
  }

  .signInForm__label {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .infoAboutMeForm_wrapper_nav {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
