.signInForm_wrapper {
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  width: 900px;
  min-height: 700px;
  margin: 24px auto 0;
  padding: 24px;

  .signInForm_content {
    .signInForm_login {
      .signInForm__input {
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        width: 57%;

        &:focus {
          background-color: #fff;
        }
      }
      .signInForm__label {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      .signInForm_submit {
        margin-top: 24px;
      }
    }
  }
}
