@import "./reset.scss";
@import "./variables.scss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #f4f4f5;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.main-container {
  max-width: $content-width;
  margin: 0 auto;

  @media (max-width: $breakpoint_xl) {
    max-width: 1140px;
  }
  @media (max-width: $breakpoint_lg) {
    max-width: 960px;
  }
  @media (max-width: $breakpoint_md) {
    max-width: 720px;
  }
  @media (max-width: $breakpoint_sm) {
    max-width: 540px;
  }
  @media (max-width: $breakpoint_xs) {
    max-width: auto;
  }
}

.button_primary {
  padding: 12px 14px;
  color: #fff;
  background: #5558fa;
  border-radius: 4px;
  border: 1.5px solid #5558fa;
  &:hover {
    color: #5558fa;
    background-color: #fff;
    border: 1.5px solid #5558fa;
  }
}

.button_second {
  padding: 12px 14px;
  color: #5558fa;
  border-radius: 4px;
  background-color: #fff;
  border: 1.5px solid #5558fa;

  &:hover {
    color: #fff;
    background-color: #5558fa;
    border: 1.5px solid #5558fa;
  }
}
